
.editor-component{
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 8px var(--light-black);
    border-radius: 5px;
}

.quill-editor{
    margin: 1rem 0;
}

.notes-details input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.btn-link:hover{
    color: var(--black-color);
}

.section-label-palette{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.note-selected-labels{
    flex-wrap: wrap;
}

.palette{
    margin-bottom: 1rem;
}

@media only screen and (max-width:700px) {
    .editor-component{
        margin:1rem 1rem 4rem 1rem
    }
}