.label-items{
    align-items: center;
    background-color: var(--primary-transparent);
    border-radius: 10px;
}

.label-items .add-tag-btn{
    margin: 0;
}

.label-items .add-tag-btn:hover{
    color: var(--primary-dark);
    background-color: transparent;
}

.label-selected{
    color: var(--primary-dark);
}

.label-unselected{
    color: var(--light-black);
}

