.card-badge{
    color: black;
    top: -1px;  
    background-color: var( --yellow-color);
    border-bottom-right-radius: 10px;
}

.card-header{
    align-items: center;
    justify-content: space-between;
    padding-top: .75rem;
}

.card .btn-link{
    color: var(--primary-dark);
}

.card .btn-link:hover{
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: 50%;
}