.card-badge{
    color: black;
    top: 0px;
    left: unset;
    right: 0px;
    background-color: var( --yellow-color);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
}

.card-header{
    align-items: center;
    justify-content: space-between;
    padding-top: .75rem;
}

.card-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
}

.card-title:hover{
    text-overflow: unset;
    white-space: pre-wrap;
}

.card .btn-link{
    color: var(--primary-dark);
    margin-top: 0;
    margin-bottom: 0;
}

.card .card-content{
    padding-bottom: 0;
    overflow-y: auto;
    height: 100px;
    border-top: 1px solid var(--yellow-color);
}

.card .btn-link:hover{
    background-color: var(--primary-dark);
    color: var(--white-color);
    border-radius: 50%;
}

.card-label{
    background-color: var(--grey-bg);
    padding: .15rem .3rem;
    border-radius: 10px;
}

.note-desc{
    padding-left: 1rem;
    margin-bottom: .5rem;
}

.info-created{
    font-family: monospace;
    margin-top: 0.5rem;
}

.notecard-details{
    padding-left: 1rem;
    padding-top: .5rem;
}

.note-actions{
    justify-content: space-evenly;
}

.note-actions .btn{
    padding: .5rem;
}

.notecard-labels{
    flex-wrap: wrap;
}

.card-content::-webkit-scrollbar {
    width: 0.3rem;
}

.card-content::-webkit-scrollbar-track {
    background-color: var(--grey-bg);
}

.card-content::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
}