.card-badge{
    color: black;
    top: 0px;
    left: unset;
    right: 0px;
    background-color: var( --yellow-color);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
}

.card-header{
    align-items: center;
    justify-content: space-between;
    padding-top: .75rem;
}

.card-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .btn-link{
    color: var(--primary-dark);
    margin-top: 0;
    margin-bottom: 0;
}

.card .card-content{
    padding-bottom: 0;
}

.card .btn-link:hover{
    background-color: var(--primary-color);
    color: var(--black-color);
    border-radius: 50%;
}

.card-label{
    background-color: var(--grey-bg);
    padding: .15rem .3rem;
    border-radius: 10px;
}